@font-face {
  font-family: 'VegasFont';
  src: url('fonts/BoringSansBold.eot'), url('fonts/BoringSansBold.ttf') format('truetype'), url('fonts/BoringSansBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

#alert-text {
    font-family: 'VegasFont';
    font-size: 5vh;
    position: relative;
    top: 25vh;
    left: 5vh;
}

#open-alert {
    position: fixed;
    top: 8vh;
    left: 25vh;
    background-color: transparent;
    border: none;
    aspect-ratio: auto;
}

#alert-open-img {
    position: relative;
    height: 8vh;
    aspect-ratio: auto;
}

#alert {
    background-size: 40% 40%;   /* Makes sure the image is fully visible */
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent !important; /* Optional: for transparency */
    
    left: 20vh;
    
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: auto;
}

#close-alert {
    position: relative;
    left: 25vh;
    top: 35vh;
    background-color: transparent;
    aspect-ratio: auto;
}

#alert-close-img {
    height: 10vh;
    aspect-ratio: auto;
}
