.full-width-carousel {
    position: relative;
    right: 50vh;
    bottom: 50vh;
    width: 50vw;
}

.full-width-slide {
    position: relative;
    width: 100vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.full-width-slide img {
    position: relative;
    max-width: 50vw;
    max-height: 50vh;
    object-fit: contain;
}

.slide-image {
    position: relative;
    height: 200vh;
}