@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: fixed;
  background-image: url('imgs/better-background.png');
  background-origin: border-box;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #5c3624;
}