@font-face {
  font-family: 'Lov';
  src: url('fonts/Louvre.eot'), url('fonts/Louvre.ttf') format('truetype'), url('fonts/Louvre.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

#title {
  /* position: relative; */
  background-image: url('imgs/casino-font.png');
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  background-position-x: center;
}

body {
  /* position: relative; */
  background-image: url('imgs/cursed-background.png');
  background-position-x: fixed;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}