body {
  position: fixed;
  background-image: url('imgs/better-background.png');
  background-position-x: fixed;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}