#pc-btn {
    position: relative;
    border: none;
    background-color: transparent;
}

#pc-img {
    position: relative;
    height: 5vh;
    left: 10vh;
    bottom: 5vh;
}

#popup {
    position: absolute;
    top: 70vh;
    left: 100vh;
}

#secret-img {
    position: absolute;
    left: -70vh;
    top: -30vh;
}

#awesome-btn{
    position: absolute;
    left: -8vh;
    top: 50vh;
    background-color: black;
}

#skull {
    height: 10vh;
}