@font-face {
  font-family: 'Imprint';
  src: url('fonts/ImprintMTShadowRegular.eot'), url('fonts/ImprintMTShadowRegular.ttf') format('truetype'), url('fonts/ImprintMTShadowRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DeckOfCards';
  src: url('fonts/Slots-Regular.eot'), url('fonts/Slots-Regular.ttf') format('truetype'), url('fonts/Slots-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

#status {
  font-family: 'Imprint';
  color: rgb(255, 255, 255);
  word-spacing: .5vh;
  text-wrap: wrap;
  font-size: 3.5vh;
  width: 55vh;
  top: 70vh;
  left: 71.5vh;
  position: relative;
  text-align: center;
  aspect-ratio: auto;
}

#dice-button {
  aspect-ratio: auto;
  border: none;
  background-color: transparent;
  position: fixed;
  bottom: 23vh;
  right: 20vh;
}

#dice-image {
  aspect-ratio: auto;
  position: relative;
  height: 10vh;
}

#hover {
  aspect-ratio: auto;
  position: fixed;
  background-color: white;
  width: 40vh;
  text-align: center;
  border-style: solid; 
  border-color: black;
  border-width: .4vh;
  border-radius: 1vh;
  bottom: 5vh;
  left: 78vh;
  text-wrap: wrap;
}

#hover-button {
  aspect-ratio: auto;
  position: fixed;
  float: right;
  border: none;
  background: transparent;
  bottom: 1vh;
  right: 35vh;
}

#hover-text {
  font-family: Arial, Helvetica, sans-serif;
}

#hover-btn-text {
  position: relative;
  bottom: 3vh;
}

#close-img {
  aspect-ratio: auto;
  height: 5vh;
}

#open-img {
  aspect-ratio: auto;
  height: 5vh;
}

.popup {
  aspect-ratio: auto;
  position: fixed;
  right: -45vh;
  top: 70vh;
  border-style: solid;
  transform: translate(-50vh, -50vh);
  background-color: white;
  width: 56vh;
}

#list {
  aspect-ratio: auto;
  overflow-y: scroll;
  width: 55vh;
  height: 50vh;
  font-family: 'DeckOfCards';
}

#list-title {
  aspect-ratio: auto;
  margin-left: 1vh;
  font-family: 'DeckOfCards';
}

#list-content {
  aspect-ratio: auto;
  margin-right: 5vh;
  font-family: 'DeckOfCards';
}

/* deck of cards */
#openButton-doc {
  aspect-ratio: auto;
  background: transparent;
  border: none;
  position: fixed;
  float: right;
  top: 10vh;
  right: 10vh;
}

#deck-of-cards-img {
  aspect-ratio: auto;
  height: 10vh;
}

#closeButtondoc {
  background-color: grey;
  font-family: 'DeckOfCards';
}