@font-face {
  font-family: 'Austral';
  src: url('fonts/Austral-Slab_Blur-Regular.eot'), url('fonts/Austral-Slab_Blur-Regular.ttf') format('truetype'), url('fonts/Austral-Slab_Blur-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

#text {
    font-family: 'Austral';
    font-size: larger;
    font-weight: 500;
    position: relative;
    align-items: center;
    text-align: center;
    top: 6vh;
    right: 4vh;
    text-wrap-mode: wrap;
    aspect-ratio: auto;
}

#button-div {
    position: fixed;
    display: inline-block;
    top: 20vh;
    margin-left: 5vh;
    aspect-ratio: auto;
}

#open-button {
    border: none;
    background-color: transparent;
    position: relative;
    aspect-ratio: auto;
}

#open-image {
    position: fixed;
    height: 10vh;
    aspect-ratio: auto;
}

.drawer {
    background-size: 40% 40%;   /* Makes sure the image is fully visible */
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent !important; /* Optional: for transparency */
    height: 380px !important; /* Your custom height */
    width: 600px !important; /* Your custom width */
    top: 100px !important; /* Position from the top */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: auto;
}

#close-button {
    position: fixed;
    bottom: 30vh;
    left: 10vh;
    border: none;
    background-color: transparent;
    aspect-ratio: auto;
}

#close-image {
    position: fixed;
    height: 8vh;
    aspect-ratio: auto;
}

#badge {
    position: fixed;
    background-color: red;
    color: white;
    border-radius: 50vh;
    padding: 0.222vh 0.667VH;
    font-size: 1.333vh;
    top: 22vh;
    left: 14vh;
    aspect-ratio: auto;
}
 
