#status {
  /* position: relative; */
  font-family: 'Lov';
  text-align: center;
  margin: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  bottom: 2vh;
  right: 1.5vh;
  font-size: 3.5vh;
}

#dice-button {
  border: none;
  background-color: transparent;
  position: relative;
  bottom: 20vh;
  left: 170vh;
}

#dice-image {
  position: relative;
  height: 10vh;
}

#hover {
  position: relative;
  background-color: white;
  width: 40vh;
  text-align: center;
  font-family: serif;
  border-style: solid; 
  border-color: black;
  border-width: .4vh;
  border-radius: 1vh;
  top: 0vh;
  left: 65vh;
}